.jao_select {
	cursor: default;
	display: inline-block;
	font-family: Verdana,Sans-Serif;
	font-size: 14px;
	position: relative;
	vertical-align: middle;
}

.jao_header {
	background-color: #FFF;
	border: 1px solid #BBB;
	height: 20px;
	overflow: hidden;
	padding: 1px 15px 1px 5px;
	white-space: nowrap;
}

.jao_arrow {
	background: url(images/dropdown.gif) no-repeat scroll center center #FFF;
	height: 20px;
	position: absolute;
	right: 1px;
	width: 16px;
}
.jao_select:hover .jao_arrow { background-image: url(images/dropdown_hover.gif); }

.jao_select.list .jao_header { display: none; }
.jao_placeholder { color: #999; }

.jao_options {
	background: #FFF;
	border: 1px solid #B2B2B2;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0;
}

.jao_select.dropdown .jao_options {
	display: none;
	margin-top: -1px;
	position: absolute;
	z-index: 9999;
}

/* todo: disable text selection by mouse */
.jao_select label {
	cursor: default;
	display: block;
	overflow: hidden;
	padding: 1px 5px;
	white-space: nowrap;
}
.jao_select label.selected { background-color: #DCE5F8}
.jao_select label:hover { background-color: #EEE}
.jao_select label.disabled {color: #AAA;}
.jao_select label.disabled:hover {background: #FFF;}

.jao_select label input {
	margin: 1px 5px 1px 0;
	padding: 0;
	position: relative;
}

.jao_select label img, .jao_header img {vertical-align: middle}

.jao_select label input[type="radio"] {
	left:-9999px;
	position: absolute !important;
}

/* Hack for IE >= 8*/
.jao_select label input[type="checkbox"] { vertical-align: -3px\0/; }
/* Hack for FF */
@-moz-document url-prefix() { .jaoselect label input[type="checkbox"] { vertical-align: -4px; } }